@import './base.css';
@import "tailwindcss";

/* Preline UI */
@import "preline/variants.css";
/* Para activar JS de Preline (elementos interactivos) */
@source "../node_modules/preline/dist/*.js";

/* Plugins de Tailwind */
@plugin "@tailwindcss/forms";


